<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
ErrorDocument 403 http://192.168.4.194/sap/manutencao.php
ErrorDocument 404 http://192.168.4.194/sap/404.php
order deny,allow
allow from all
